@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Poppins:wght@600;700&display=swap");

@layer base {
    body {
        @apply font-manrope text-dark-gray bg-light-gray;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-poppins;
    }
}
